<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" >
    <style> .fullwidth {width: 100%; }</style>
</head>

<body>

<h2>Finn n-gram, Snorre!</h2>

<form method="post">
N = <select name="n">
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
</select>
<br/><br/><b>Tekst:</b><br/>
<textarea rows=30 class="fullwidth" name="tekst"></textarea>
<input type="submit" value="Finn n-gram">
</form>

</body>
