{% extends 'base.twig' %}

{% block content %}

<h2>Resultat for  {{ n }}-gram</h2>
<a href=''>[Tilbake]</a>

<textarea rows="{{ ngrams | length }}" class=fullwidth>{% for ngram in ngrams %}
{{ ngram }}
{% endfor %}
</textarea>
{% endblock %}

